body {
  background-image: linear-gradient(#8BD8F4, #45A3C4);
}

h1 {
  text-align: center;
  border-bottom: 6px solid #EABA6B;
  background-color: #F1E2CA;
  font-family: Helvetica;
}

h2 {
  font-family: Helvetica;
}

h2.round span{
    border: 4px solid #EABA6B;
    border-radius: 5px;
    background-color: #F1E2CA;
}

a.header {
  color: black;
}

a.header:link {
  text-decoration: none;
}

a.header:visited {
  color: black;
}

h2.button:hover {
  background-color: #F1E2CA;
}

h2.button {
  border-style: solid;
  border-radius: 25px;
  border-color: #cea45f;
  background-color: #EABA6B;
}

h3 {
  color: #0f1f3d;
}

* {
  font-family: helvetica;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

td.list:hover {
  background-color: #8BD8F4;
}

a[target]{
  text-decoration: underline;
  text-decoration-color: black;
}

a[href] {
  font-style: oblique;
}

h2[align] {
  text-decoration: none;
}

a:hover {
  color: crimson;
}
a:visited {
  color: purple;
}

#grad {
  background-color: #F5EE9E;
}

#grad1 {
  background-color: #EFC69B;
}

#grad2 {
  background-color: #F49E4C;
}

div * {
  color: black;
}

td a {
  color: blue;
}

ol li {
  color: #352A18;
}

tr h3{
  font-family: "Arial Black", Gadget, sans-serif;
}

.rocks {
  width: 400px; height: 300px;
  border-radius: 25px;
}

.types {
  width: 500px;
  height: 350px;
}

#types {
  width: 500px;
  height: 350px;
}

#beatles {
  border-style: solid;
  border-width: 5px;
  border-color: white;
}

#football {
  border-style: inset;
  border-width: 10px;
  border-color: grey;
}

#wrestle {
  border-style: inset;
  border-width: 10px;
  border-color: grey;
}
