body {
  background-image: linear-gradient(#5DADE2, #76D7C4, #A2D9CE, #EAFAF1);
}

h1 {
  text-align: center;
}

h1 span{
  border-style: solid;
  border-color: red;
  font-family: Helvetica;
}

h2 {
  font-family: Helvetica;
}

h3 {
  font-family: Helvetica;
}

p {
  font-family: Helvetica;
}

a {
  font-family: Helvetica;
}

li {
  font-family: Helvetica;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

a:hover {
  color: crimson;
}
a:visited {
  color: purple;
}
